@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic');
/* font-family: 'Open Sans', sans-serif; */
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
	url("../fonts/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSans-Light.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
#fullpage{
	position: relative;
}
.hid{
	opacity: 0;
}
.vis{
	opacity: 1;
}
.contentBlock{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
/********************************************/
.invalidPass{
	border-color: red;
}
.fp-tableCell{
	display: block;
}
.section{
	position: relative;
}
.menuNav{
	position: absolute;

}
.menuNav__wrapper{
	position: relative;
	height: 100vh;
}
.owl-carousel{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.wrappercustomDots{
	position: absolute;
	right: -70px;
	top: 50%;
	width: 106px;
	overflow: hidden;
}
.customDots{
	position: relative;
	width: 36px;
	z-index: 25;
	-webkit-animation-delay: .8s !important;
	-o-animation-delay: .8s !important;
	animation-delay: .8s !important;
	-webkit-animation-duration: 2s !important;
	-o-animation-duration: 2s !important;
	animation-duration: 2s !important;
}
.customDots .owl-dot > span{
	display: block;
	padding: 10px 0;
}
.owl-dots{
	position: relative;
}
.owl-dot{
	width: 35px;
	height: 1px;
	background: #fff;
	z-index: 25 !important;
	margin-bottom: 2.5rem;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}
.owl-dot.active:before{
	content: '•';
	color: #fff;
	position: absolute;
	left: -15px;
	top: -8px;
}
.owl-dot.active {
	width: 85px;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
	animation: aaaaa 1s linear;
	margin-left: 1.25rem;
	position: relative;
}
@-webkit-keyframes aaaaa {
	from { 
		width: 0px;
	}
	to { 
		width: 85px;
	}
}
@-o-keyframes aaaaa {
	from { 
		width: 0px;
	}
	to { 
		width: 85px;
	}
}
@-moz-keyframes aaaaa {
	from { 
		width: 0px;
	}
	to { 
		width: 85px;
	}
}
@keyframes aaaaa {
	from { 
		width: 0px;
	}
	to { 
		width: 85px;
	}
}
.item{
	min-height: 100vh;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.bgFilter{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(34, 34, 34, 0.30);
	z-index: 4;
}
.contentSlide1{
	z-index: 15;
	position: relative;
	height: 100vh;
}
.grid{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	height: 100vh;
}
.grid__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 100vh;
	width: 100%;
}
.grid__wrapper--item{
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
}
.contentSlide1__wrapper{
	z-index: 16;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 100vh;
}
/***********************************************************/
.topHeader{
	padding-top: 2.8125rem;
	overflow: hidden;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.topHeader__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.topHeader__left{
	-webkit-animation-delay: .5s !important;
	-o-animation-delay: .5s !important;
	animation-delay: .5s !important;
}
.topHeader__right{
	position: relative;
}
.topHeader__right--OpenMenu{
	top: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 360px;
	background-color: #232323;
	min-height: 100vh;
	color: #fff;
	z-index: 25;
}
.OpenMenuMain{
	padding: 2.625rem 4rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;	
	height: 100vh;
	position: relative;
	display: block;
}

.OpenMenuMain__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;	
	height: 94vh;
	position: relative;
}
.OpenMenuTopContent{
	-webkit-flex: 1px;
	-moz-flex: 1px;
	-ms-flex: 1px;
	-o-flex: 1px;
	flex: 1px;
}
.OpenMenu__form{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.OpenMenu__form a{
	text-decoration: none;
	font-family: "OpenSans";
	font-size: 0.875rem;
	display: block;
	margin-bottom: 1.0625rem;
	color: #fff;
}
.OpenMenu__form h3{
	font-family: "OpenSans-Semibold";
	font-weight: normal;
	text-align: center;
	font-size: 1.125rem;
}
.OpenMenu__form input{
	background-color: #232323;
	color: #fff;
	outline: 0;
	border: 0;
	font-family: "OpenSans";
	font-size: 0.9375rem;
	margin-left: 1rem;
	width: 64%;	
}
.OpenMenu__form button{
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
	font-family: "OpenSans";
	color: #232323;
	font-size: 0.9375rem;
	line-height: 2.5rem;
	width: 100%;
	margin-bottom: 1.0625rem;
	outline: 0;
	border: 0;
}
.hideForm{
	margin-bottom: 1.0625rem;
}
.wrapper__email{
	margin-bottom: 2.1875em;
	border: 1px solid #fff;
	border-radius: 4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.wrapper__password{
	margin-bottom: 2.1875em;
	border: 1px solid #fff;
	border-radius: 4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.wrapper__email:before{
	content: url(../image/Login.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #fff;
}
.wrapper__password:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #fff;
}

.passInvalid:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #f93737 !important;
}
.passInvalid{
	border: 1px solid #f93737 !important;
}

.passValid:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #0ad20a!important;
}
.passValid{
	border: 1px solid #0ad20a!important;
}

.emailInvalid:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #f93737 !important;
}
.emailInvalid{
	border: 1px solid #f93737 !important;
}

.emailValid:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #0ad20a!important;
}
.emailValid{
	border: 1px solid #0ad20a!important;
}

.contentSignUp{
}
.wrapperformReg{
	padding: 2.625rem 4rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;	
	height: 100vh;
	position: relative;
	display: block;
}
.signUpAndSignIn{
	
	width: 92%;
	margin: 0 auto;
	-webkit-flex: 0;
	-moz-flex: 0;
	-ms-flex: 0;
	-o-flex: 0;
	flex: 0;
}
.signUpAndSignIn a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
}
.signUpAndSignIn__icon{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.signUpAndSignIn__text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	font-size: 1rem;
	color: #fcfcfd;
	font-family: "GothamPro";	
}
.signUpAndSignIn__text--left:after{
	content: '/';
}

.wrapperOpenMenu{
	overflow: hidden;
}
.OpenMenuMain__nav{
	position: relative;
	align-items: center;
	transform: translateY(-50%);
	top: 50%;
}
.OpenMenuMain__nav a{
	display: block;
	text-decoration: none;
	color: #808080;
	font-size: 1.5rem;
	font-family: "GothamPro-Medium";
	margin-bottom: 4.4rem;
	text-align: center;
	-webkit-transition: .4s all;
	-o-transition: .4s all;
	transition: .4s all;
}
.OpenMenuMain__nav a:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	color: #fff;
}
.OpenMenuMain__footer{
	-webkit-flex: 0;
	-moz-flex: 0;
	-ms-flex: 0;
	-o-flex: 0;
	flex: 0;
}
.openMenuJs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-animation-delay: .5s !important;
	-o-animation-delay: .5s !important;
	animation-delay: .5s !important;
}
.openMenuJs p{
	margin: 0;
	text-transform: uppercase;
	font-family: "GothamPro";
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #fff;
	height: 19px;
	font-size: .875rem;
}
.openMenuJs p::after{
	content: url(../image/gambMenu.png);
	vertical-align: middle;
	height: 19px;
	margin-left: 1rem;
}


.closeMenuJs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	left: -120px;
	top: 42px;
}
.closeMenuJs p{
	margin: 0;
	text-transform: uppercase;
	font-family: Sans-serif;
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #fff;
	height: 23px;
	font-family: "GothamPro";
	font-size: 1rem;
}
.closeMenuJs p::after{
	content: url(../image/closeMenu.png);
	vertical-align: middle;
	height: 19px;
	margin-left: 1rem;
	height: 23px;
}
.closeMenuJs:hover,.openMenuJs:hover{
	cursor: pointer;
}
.contentSlide1__wrapper--container{
	position: relative;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.mainScreenLeft{
	position: relative;
	width: 20%;
	height: 335px;
	overflow: hidden;
}
.mainScreenLeft__wrapper{
	position: absolute;
	top: 150px;
	left: -160px;
	width: 350px;
	-webkit-animation-delay: 0 !important;
	-o-animation-delay: 0 !important;
	animation-delay: 0 !important;
	-webkit-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
.qwerty p{
	color: #fff;
	font-family: "GothamPro";
	font-size: 0.875rem;
	margin: 0;
	margin-right: 1rem;
	text-transform: uppercase;
}
.qwerty p>a{
	text-decoration: none;
	color: #fff;
	font-family: "GothamPro";
	font-size: 0.875rem;
}
.qwerty{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-transform: rotate(-90deg) !important;
	-ms-transform: rotate(-90deg) !important;
	-o-transform: rotate(-90deg) !important;
	transform: rotate(-90deg) !important;
}
.mainScreenCenter{
	width: 59.75%;
}
.mainScreenCenter p{
	font-size: 2.25rem;
	font-family: "Conv_Accuratist";
	color: #fff;
	line-height: 3.4375rem;
	text-transform: uppercase;
}
.mainScreenRight{
	position: absolute;
	right: -8px;
	top: 280px;
	overflow: hidden;
}
.mainScreenRight__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-animation-delay: .8s !important;
	-o-animation-delay: .8s !important;
	animation-delay: .8s !important;
}
.mainScreenRight__wrapper--text{
	margin-right: 0.625rem;
	overflow: hidden;
}
.mainScreenRight__wrapper--text>p{
	font-size: 0.875rem;
	font-family: "GothamPro";
	text-transform: uppercase;
}
.textmainRight{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
.mainScreenRight__wrapper--circle{
	width: 19px;
	height: 19px;
}
.circleMain{
	width: 19px;
	height: 19px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation-delay: .8s !important;
	-o-animation-delay: .8s !important;
	animation-delay: .8s !important;
	-webkit-animation-duration: 1.2s !important;
	-o-animation-duration: 1.2s !important;
	animation-duration: 1.2s !important;
}
.footerContentWrapper__contacts h3{
	font-family: "GothamPro-Medium";
	font-weight: normal;
	color: #808080;
	font-size: 1.125rem;
	text-align: center;
}
.footerContentWrapper__contacts p{
	line-height: 1.875rem;
	font-family: "GothamPro-Light";
	font-size: 1rem;
	color: #808080;	
	width: 100%;
	text-align: center;
}
.footerContentWrapper__phoneNumber p {
	margin: 0;
	margin-bottom: 1.125rem;
	color: #808080;
	text-align: center;
	font-family: "GothamPro-Light";

}
.footerContentWrapper__phoneNumber p:before{
	content: "\f095";
	font-family: "FontAwesome";
}

/******************************Анимация текста******************************/
.mainScreenCenterText{
}
.mainScreenCenterText .new{
	opacity: 0;
}
.mainScreenCenterText	.div_opacity {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 1;
}
/*******************Контент 2-го слайда*******************/
.section2__wrapper{
	position: relative;
	background-color: #fafafa;
}
.contentSlide2{
	z-index: 15;
	position: relative;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.grid2{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	height: 100vh;
}
.grid__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 100vh;
	width: 100%;
}
.grid__wrapper--item2{
	width: 1px;
	height: 100%;
	background-color: #e0e0e0;
}

.topHeader2{
	padding-top: 2.8125rem;
	/*overflow: hidden;*/
	position: relative;
	z-index: 25;
}
.topHeader__wrapper2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.topHeader__left2{
	-webkit-animation-delay: .5s !important;
	-o-animation-delay: .5s !important;
	animation-delay: .5s !important;
}
.topHeader__right2{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.topHeader__right2--search{
	margin-right: 3.5rem;
}
.topHeader__right2--search p{
	margin: 0;
	font-size: .875rem;
	font-family: "GothamPro";
	color: #000;
	position: relative;
}
.topHeader__right2--search p:after{
	content: "\f002";
	font-family: "FontAwesome";
	display: block;
	position: absolute;
	right: -20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.topHeader__right2--search:hover{
	cursor: pointer;
}
.topHeader__right--OpenMenu2{
	top: 0;
	position: absolute;
	right: -0;
	width: 360px;
	background-color: #232323;
	min-height: 100vh;
	color: #fff;
	z-index: 25;
}

.openMenuJs2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-animation-delay: .5s !important;
	-o-animation-delay: .5s !important;
	animation-delay: .5s !important;
}
.openMenuJs2 p{
	margin: 0;
	text-transform: uppercase;
	font-family: "GothamPro";
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #000;
	height: 19px;
	font-size: .875rem;
}
.openMenuJs2 p::after{
	content: url(../image/gambMenuBlack.png);
	vertical-align: middle;
	height: 19px;
	margin-left: 1rem;
}


.closeMenuJs2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	left: -120px;
	top: 42px;
}
.closeMenuJs2 p{
	margin: 0;
	text-transform: uppercase;
	font-family: Sans-serif;
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #000;
	height: 23px;
}
.closeMenuJs2 p::after{
	content: url(../image/closeMenuBlack.png);
	vertical-align: middle;
	height: 19px;
	margin-left: 1rem;
	height: 23px;
}
.closeMenuJs2:hover,.openMenuJs2:hover{
	cursor: pointer;
}











.wrapper__email2{
	margin-bottom: 2.1875em;
	border: 1px solid #fff;
	border-radius: 4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.wrapper__password2{
	margin-bottom: 2.1875em;
	border: 1px solid #fff;
	border-radius: 4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.wrapper__email2:before{
	content: url(../image/Login.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #fff;
}
.wrapper__password2:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #fff;
}

.passInvalid2:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #f93737 !important;
}
.passInvalid2{
	border: 1px solid #f93737 !important;
}

.passValid2:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #0ad20a!important;
}
.passValid2{
	border: 1px solid #0ad20a!important;
}

.emailInvalid2:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #f93737 !important;
}
.emailInvalid2{
	border: 1px solid #f93737 !important;
}

.emailValid2:before{
	content: url(../image/Passwordicon.png);
	padding: 0.6875rem 1rem;
	border-right: 1px solid #0ad20a!important;
}
.emailValid2{
	border: 1px solid #0ad20a!important;
}

.centerContent{
	z-index: 25;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(calc(-50% - 50px));
	-ms-transform: translateY(calc(-50% - 50px));
	-o-transform: translateY(calc(-50% - 50px));
	transform: translateY(calc(-50% - 50px));
	
}
.centerContent__wrapper{
	height: 600px;
	background-color: #232323;
	width: 100%;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.centerContent__wrapper--left{
	width: 20%;
	max-width: 240px;
	height: 100%;
	max-height: 600px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.leftTabsItem a{
	font-size: 1rem;
	font-family: "GothamPro";
	color: #fff;
	border-bottom: 1px solid #424242;
	border-top: 1px solid #424242;
	height: 58px;
	line-height: 3.625rem;
	display: block;
	text-decoration: none;
	padding-left: 1.9375rem;
}
.active-panel{
	border-top: 0;
	-webkit-flex: 3;
	-moz-flex: 3;
	-ms-flex: 3;
	-o-flex: 3;
	flex: 3;
	position: relative;
}
.active-panel>a{
	border-top: 0;
}
.active-panel:after{
	position: absolute;
	content: "●";
	right: 25px;
	top: 20px;
	color: #fff;
}
.tab-item{
	height: 100%;
}
.centerContent__wrapper--right{
	width: 80%;
	max-width: 960px;
}
.tab1Content{

	width: 100%;
	height: 100%;
}
.tab1ContentMenu__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.tab1Content__item{
	height: 100%;
	width: 33.333333%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.tab1Content__item--blockFilter{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
	z-index: 15;
}
.tab1Content__item--text{
	position: relative;
	z-index: 16;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 70%;
}
.tab1Content__item--text p{
	color: #fff;
	font-family: "GothamPro-Bold";
	font-size: 1.125rem;
	line-height: 1.875rem;
	text-transform: uppercase;
	margin: 0;
	position: relative;
}
.tab1Content__item--text p:before{
	content: '+';
	font-family: "GothamPro-Bold";
	font-size: 1.125rem;
	position: absolute;
	top: -20px;
	left: 8px;
}
.tab1Content__item--text p:after{
	content: '+';
	font-family: "GothamPro-Bold";
	font-size: 1.125rem;
	position: absolute;
	bottom: -20px;
	right: 8px;
}
.tab1ProductWrapper{
	background-color: #FFF;
	border: 1px solid #e0e0e0;
	border-left: 0;
	width: 100%;
	height: 100%;
}
.tab1ProductWrapperItem{
	width: 100%;
	height: 100%;
}
/******************************** Товары ********************************/
.itemHeader{
	height: 50px;
	width: 100%;
	padding: 0 3.75rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.itemHeader__left{
	width: 50%;
	text-align: left;
}
.itemHeader__right{
	width: 50%;
	text-align: right;
	position: relative;
	text-align: right;
}
.itemHeader__right:after{
	position: absolute;
	content: "\f107";
	font-family: "FontAwesome";
	top: 50%;
	right: -24px;
	font-size: 1rem;
	height: 14px;
	font-weight: normal;
	color: #858585;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.filtrationPriceBlock{
	position: absolute;
	width: 260px;
	height: 100px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 22px rgba(226, 221, 221, 0.73);
	box-shadow: 0px 0px 22px rgba(226, 221, 221, 0.73);
	z-index: 25;
	top: 35px;
	right: -25px;
	padding: .9375rem 1.25rem;
}
.filtrationPriceForm{
	width: 100%;
	height: 100%;
}
.filtrationPriceForm__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: .75rem;
}
.filtrationPriceForm  input {
	max-width: 78px;
	padding: 0 .625rem;
	max-height: 22px;
	line-height: 1.375rem;
	font-family: "GothamPro";
	color: #000;
	font-size: .75rem;
	outline: 0;
	border: 1px solid #f0f0f0;
}
.filtrationPriceBlock__minPrice p{
	max-width: 20px;
	margin: 0;
	font-family: "GothamPro";
	color: #000;
	font-size: .75rem;
}
.filtrationPriceBlock__maxPrice p{
	max-width: 20px;
	margin: 0;
	font-family: "GothamPro";
	color: #000;
	font-size: .75rem;
}
.filtrationPriceForm__button{
	max-width: 90px;
	max-height: 25px;
	width: 100%;
	height: 100%;
	background-color: #4eb2f2;
	display: block;
	color: #fff;
	font-family: "GothamPro";
	font-size: .75rem;
	border: 0;
	outline: 0;
}
.itemHeader__left a{
	font-family: "GothamPro";
	font-size: 1rem;
	color: #858585;
	text-decoration: none;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 15%;
}
.itemHeader__left a:before{
	font-family: "FontAwesome";
	content: "\f104";
	font-size: 1rem;
	color: #858585;
	text-decoration: none;
	font-weight: normal;
	position: absolute;
	left: -20px;
}



.itemHeader__right a{
	font-family: "GothamPro";
	font-size: 1rem;
	color: #858585;
	text-decoration: none;
	position: relative;

}
.itemslider{
	height: calc(100% - 50px);
	width: 100%;
	position: relative;
}

/****/
#page2Carousel{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 3.75rem;
}



.item1{
	width: 100%;
	max-height: 100%;
	min-height: 529px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.9375rem;
}
.item1 a{
	text-decoration: none;
}
.item1__img{
	width: 97px;
	height: 389px;
	position: relative;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1.4375rem;
}
.item1__name{
	margin-bottom: 0.3125rem;
}
.item1__name h3{
	font-family: "GothamPro-Medium";
	font-size: 1.5rem;
	color: #010101;
	margin: 0;
	text-align: center;
}
.item1__description{
	margin-bottom: 1.375rem;
}
.item1__description p{
	font-family: "GothamPro";
	margin: 0;
	text-align: center;
	font-size: 0.75rem;
	color: #858585;
}
.item1__price{
	width: 49.42%;
	margin: 0 auto;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
}
.item1__price p{
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold";
}
.customNav2page{
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 25;

}
.customNav{
	position: relative;
}
.customNav:hover{
	cursor: pointer;
}
.customNav .owl-prev{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.9375rem;
}
.customNav .owl-next{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);

}



/****/
#page2Carousel2{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 3.75rem;
}



.item2{
	width: 100%;
	max-height: 100%;
	min-height: 529px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.9375rem;
}
.item2 a{
	text-decoration: none;
}
.item2__img{
	width: 97px;
	height: 389px;
	position: relative;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1.4375rem;
}
.item2__name{
	margin-bottom: 0.3125rem;
}
.item2__name h3{
	font-family: "GothamPro-Medium";
	font-size: 1.5rem;
	color: #010101;
	margin: 0;
	text-align: center;
}
.item2__description{
	margin-bottom: 1.375rem;
}
.item2__description p{
	font-family: "GothamPro";
	margin: 0;
	text-align: center;
	font-size: 0.75rem;
	color: #858585;
}
.item2__price{
	width: 49.42%;
	margin: 0 auto;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
}
.item2__price p{
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold";
}
.customNav2page2{
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 25;

}
.customNav2{
	position: relative;
}
.customNav2:hover{
	cursor: pointer;
}
.customNav2 .owl-prev{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.9375rem;
}
.customNav2 .owl-next{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);

}

/****/
#page2Carousel3{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 3.75rem;
}



.item3{
	width: 100%;
	max-height: 100%;
	min-height: 529px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.9375rem;
}
.item3 a{
	text-decoration: none;
}
.item3__img{
	width: 97px;
	height: 389px;
	position: relative;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1.4375rem;
}
.item3__name{
	margin-bottom: 0.3125rem;
}
.item3__name h3{
	font-family: "GothamPro-Medium";
	font-size: 1.5rem;
	color: #010101;
	margin: 0;
	text-align: center;
}
.item3__description{
	margin-bottom: 1.375rem;
}
.item3__description p{
	font-family: "GothamPro";
	margin: 0;
	text-align: center;
	font-size: 0.75rem;
	color: #858585;
}
.item3__price{
	width: 49.42%;
	margin: 0 auto;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
}
.item3__price p{
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold";
}
.customNav2page3{
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 25;

}
.customNav3{
	position: relative;
}
.customNav3:hover{
	cursor: pointer;
}
.customNav3 .owl-prev{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.9375rem;
}
.customNav3 .owl-next{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}







/********************************************************  Товары ********************************************************/

.productCard{
	max-width: 1200px;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
	height: 600px;
	background: #fff;
}
.productCard__header{
	height: 50px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 0 3.75rem;
}

.productCard__content{
	padding: 1.68rem 3.75rem 2.8125rem  3.75rem;  
	height: calc(100% - 50px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
}
.productCard__content--left{
	max-width: 300px;
	width: 36.47%;
	height: 100%;
}
.productCard__content--left div{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.productCard__content--left div>img{
	max-width: 300px;
	max-height: 475px;
	min-width: 40%;
}
.productCard__content--right{
	width: 60%;
}
.productName{
	margin-bottom: 3.75rem;
}
.productName > h3{
	color: #010101;
	font-size: 3rem;
	font-weight: normal;
	font-family: "GothamPro-Medium";
	margin: 0;
}
.productDescription{
	margin-bottom: 3rem;
}
.productDescription > p {
	margin: 0;
	margin-bottom: 1.375rem;
	font-size: 1rem;
	font-family: "GothamPro";
	color: #000;
	line-height: 1.5rem;	
}
.productAutor{
	margin-bottom: 3rem;
}
.productAutor > p {
	margin: 0;
	margin-bottom: 1.375rem;
	font-size: 1rem;
	font-family: "GothamPro";
	color: #000;
	line-height: 1.5rem;	
}






.productDownBlock{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.productDownBlock__productPrice{
	min-width: 110px;
	max-width: 140px;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
	padding: 0 .9375rem;
	overflow: hidden;
	margin-right: .625rem;
}
.productDownBlock__productPrice >p {
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold"
}
.productDownBlock__addInCorset {
	min-width: 220px;
	max-width: 300px;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
	padding: 0 .9375rem;
	overflow: hidden;
}
.productDownBlock__addInCorset > p {
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold"
}

/************************************************** Корзина **************************************************/
#page2CarouselCorset{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 3.75rem;
}

.corsetWrapper{
	background-color: #FFF;
	border: 1px solid #e0e0e0;
	border-left: 0;
	width: 100%;
	height: 100%;
}

.itemCorset{
	width: 100%;
	max-height: 100%;
	min-height: 529px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.9375rem;
}
.itemCorset a{
	text-decoration: none;
}
.itemCorset__img{
	width: 97px;
	height: 389px;
	position: relative;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1.4375rem;
}
.itemCorset__name{
	margin-bottom: 0.3125rem;
}
.itemCorset__name h3{
	font-family: "GothamPro-Medium";
	font-size: 1.5rem;
	color: #010101;
	margin: 0;
	text-align: center;
}
.itemCorset__description{
	margin-bottom: 1.375rem;
}
.itemCorset__description p{
	font-family: "GothamPro";
	margin: 0;
	text-align: center;
	font-size: 0.75rem;
	color: #858585;
}
.itemCorset__price{
	width: 49.42%;
	margin: 0 auto;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
}
.itemCorset__price p{
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold";
}
.customNavCorsetWrapper{
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 25;

}
.customNavCorset{
	position: relative;
}
.customNavCorset:hover{
	cursor: pointer;
}
.customNavCorset .owl-prev{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.9375rem;
}
.customNavCorset .owl-next{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.tab-menu{
	position: relative;
}
.corsetTab{
	position: absolute;
	right: 25px;
	top: 20px;
	color: #232323;
	background-color: #fff;
	font-size: 0.656rem;
	font-family: "GothamPro-Bold";
	width: 15px;
	height: 15px;
	line-height: .9375rem;
	border-radius: 150px;
	text-align: center;
	z-index: 25;
}
.corsetWrapper > .itemHeader__left{
	max-width: 50%;
}

/********************************************* Оплата *********************************************/
.rewardWrapper{
	background-color: #FFF;
	border: 1px solid #e0e0e0;
	border-left: 0;
	width: 100%;
	height: 100%;
}
.rewardWrapper > .itemHeader{
	max-width: 50%;
}
.rewardWrapper__content{
	height: calc(100% - 50px);
	width: 100%;
	position: relative;
	padding: 0 3.75rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.rewardLeft{
	width: 42.12%;
	padding: 1.562rem 0;
}
.itemReward__name{
	margin-bottom: 0.3125rem;
}
.itemReward__name h3{
	font-family: "GothamPro-Medium";
	font-size: 1.5rem;
	color: #010101;
	margin: 0;
}
.itemReward__description{
	margin-bottom: 1.375rem;
}
.itemReward__description p{
	font-family: "GothamPro";
	margin: 0;
	font-size: 0.75rem;
	color: #858585;
}
/* ФОРМА */
.rewardLeft__form{
	margin-top: 2.375rem;
}
.rewardLeft__form  input[type="text"]{
	display: block;
	outline: 0;
	border: 1px solid #d1d9dc;
	height: 44px;
	width: 100%;
	border-radius: 4px;
	margin-bottom: .9375rem;
	color: #52565a;
	font-family: "GothamPro-Medium";
	font-size: .875rem;
	padding: 0 .75rem;
}
.rewardLeft__form label{
	color: #52565a;
	font-family: "GothamPro-Medium";
	font-size: .875rem;
}
.rewardLeft__form button {
	display: block;
	outline: 0;
	border: 1px solid #d1d9dc;
	height: 46px;
	width: 100%;
	border-radius: 4px;
	margin-bottom: .9375rem;
	color: #fff;
	font-family: "GothamPro-Medium";
	font-size: .875rem;
	padding: 0;
	text-align: center;
	background-color: #353535;
}
.rewardLeft__form button:hover{
	cursor: pointer;
}
.rewardRight{
	margin-top: 7.625rem;
	width: 42.12%;
}
/*************************************** Поиск ***************************************/
.searchContent{
	margin-top: 6rem;
	
}
.searchContent > form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin-bottom: 6.375rem;
	padding: 1.25rem 3rem;
}
.searchPromoInput{
	display: block;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #313131;
	color: #333;
	font-family: "GothamPro";
	font-size: 1.25rem;
	width: 100%;
	max-width: 970px;
	height: 44px;
	line-height: 2.75rem;
	background: none;
}
.searchContent > form > button[type = "submit"]{
	outline: 0;
	background: none;
	color: #313131;
	height: 32px;
	line-height: 2rem;
	font-family: "GothamPro";
	border: 1px solid #313131;
	width: 100%;
	max-width: 133px;
	font-size: .875rem;
	-webkit-transition: .3s ;
	-o-transition: .3s ;
	transition: .3s background-color color; 
}
.searchContent > form > button[type = "submit"]:hover{
	background-color: #313131;
	cursor: pointer;
	color: #fff;
}

/*******************************************/
.searchContentItemWrapper{
	position: relative;
	z-index: 25;
}
#searchCarousel{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 3.75rem;
}
.itemSearch{
	width: 100%;
	max-height: 100%;
	min-height: 529px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.9375rem;

}
.itemSearch a{
	text-decoration: none;
}
.itemSearch__img{
	width: 97px;
	height: 389px;
	position: relative;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1.4375rem;
}
.itemSearch__name{
	margin-bottom: 0.3125rem;
}
.itemSearch__name h3{
	font-family: "GothamPro-Medium";
	font-size: 1.5rem;
	color: #010101;
	margin: 0;
	text-align: center;
}
.itemSearch__description{
	margin-bottom: 1.375rem;
}
.itemSearch__description p{
	font-family: "GothamPro";
	margin: 0;
	text-align: center;
	font-size: 0.75rem;
	color: #858585;
}
.itemSearch__price{
	width: 49.42%;
	margin: 0 auto;
	text-align: center;
	background-color: #232323;
	height: 33px;
	line-height: 2.0625rem;
}
.itemSearch__price p{
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-family: "GothamPro-Bold";
}


.customNavSearchtWrapper{
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 25;

}
.customNavSearch{
	position: relative;
}
.customNavSearch:hover{
	cursor: pointer;
}
.customNavSearch .owl-prev{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.9375rem;
}
.customNavSearch .owl-next{
	background-image: url(../image/arrowSliderLeft.png);
	height: 26px;
	width: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}